aiohappyeyeballs==2.7.1
    # via aiohttp
aiohttp==3.14.3
    # via geoip2
aiosignal==1.4.0
    # via aiohttp
annotated-doc==0.0.5
    # via fastapi
annotated-types==0.8.0
    # via pydantic
anyio==4.14.2
    # via
    #   starlette
    #   watchfiles
attrs==26.1.0
    # via aiohttp
bcrypt==5.0.0
    # via attendance-system (pyproject.toml)
certifi==2026.7.22
    # via requests
cffi==2.1.1
    # via cryptography
charset-normalizer==3.5.1
    # via requests
click==8.4.2
    # via uvicorn
cryptography==50.0.0
    # via attendance-system (pyproject.toml)
dnspython==2.8.0
    # via email-validator
email-validator==2.3.0
    # via attendance-system (pyproject.toml)
fastapi==0.141.1
    # via attendance-system (pyproject.toml)
frozenlist==1.8.0
    # via
    #   aiohttp
    #   aiosignal
geoip2==5.3.0
    # via attendance-system (pyproject.toml)
h11==0.16.0
    # via uvicorn
httptools==0.8.0
    # via uvicorn
idna==3.19
    # via
    #   anyio
    #   email-validator
    #   requests
    #   yarl
maxminddb==3.1.1
    # via geoip2
multidict==6.7.1
    # via
    #   aiohttp
    #   yarl
propcache==0.5.2
    # via
    #   aiohttp
    #   yarl
pycparser==3.0
    # via cffi
pydantic==2.13.4
    # via
    #   fastapi
    #   pydantic-settings
pydantic-core==2.46.4
    # via pydantic
pydantic-settings==2.15.0
    # via attendance-system (pyproject.toml)
pymysql==1.2.0
    # via attendance-system (pyproject.toml)
python-dotenv==1.2.3
    # via
    #   pydantic-settings
    #   uvicorn
python-multipart==0.0.32
    # via attendance-system (pyproject.toml)
pyyaml==6.0.3
    # via uvicorn
requests==2.34.2
    # via geoip2
segno==1.6.6
    # via attendance-system (pyproject.toml)
sqlalchemy==2.0.52
    # via attendance-system (pyproject.toml)
starlette==1.6.0
    # via fastapi
typing-extensions==4.16.0
    # via
    #   aiohttp
    #   aiosignal
    #   anyio
    #   fastapi
    #   pydantic
    #   pydantic-core
    #   sqlalchemy
    #   starlette
    #   typing-inspection
typing-inspection==0.4.4
    # via
    #   fastapi
    #   pydantic
    #   pydantic-settings
urllib3==2.7.0
    # via requests
uvicorn==0.52.3
    # via attendance-system (pyproject.toml)
uvloop==0.22.1
    # via uvicorn
watchfiles==1.2.0
    # via uvicorn
websockets==17.0.1
    # via uvicorn
yarl==1.24.5
    # via aiohttp
